body {
    background-color: green;
}

h1 {
    font-style: italic;
}

h2, h3 {
    text-align: center;
}
.minhaFoto {
    float: left;
    padding: 10px;
    background-color: greenyellow;
}

.description {
    margin: 20px;
    padding: 10;
    text-align: center;
}

ul li:nth-child(odd) {
    background-color: blanchedalmond;
}